div ul {
    
    list-style-type: square;
    background: whitesmoke;
    padding: 30px;
    text-align: center;
    list-style: none;
    margin-left: 17%;
    margin-right: 0%;
    width: 66%;

}

div ul li {
    background: orange;
    margin: 5px;
    text-align: center;
    list-style: none;
}

form {
margin-left: 0%;
margin-right: 0%;
width: 80%;
}